.clockContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    border: 5px rgb(0, 0, 0) solid;
    border-radius: 8px;
    height: 12vh;
    width: 23vw;
}

.ubText{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: -1vw;
    font-weight: 800;
    font-size: 2vh;
    letter-spacing: 0.5vh;
}

.clockBody{
    border-right: 2px black solid;
}

.clockConf{
    border: 2px red solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    width: 10vw;
}

.confButton{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    width: 5vw;
}

.secDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 6vw;
    margin: auto;
}

.hourMin{
    margin: auto;
    margin-top: 0%;
    font-size: 5vh;
    width: 10vw;
}

.seconds{
    margin: auto;
    margin-top: 0%;
    font-size: 3vh;
}

.secButton{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
}