
.notesManager{
    border: 2px black solid;
    border-radius: 16px;
}

.notesManagerTittle{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    width: fit-content;
}

.notesManagerText{
    margin: auto;
    font-size: 3vw;
    font-weight: 900;
    width: 10vw;
    letter-spacing: 0.5vw;
}


.notesManagerButton{
    margin-top: 2vh;
    margin-left: 2vw;
    width: 5vh;
    height: 5vh;
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
}