

.taskManager{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: auto;
    margin-top: 1vh;
    border: 5px solid #000000;
    border-radius: 10px;
}

.TMM_controls{
    display: flex;
    flex-direction: row;
}

.taskTittle{
    border: 0ch;
    outline: none;
    font-size: 3vh;
    text-align: center;
    text-decoration: underline;
}