

.taskManager{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: auto;
    margin-top: 1vh;
    border: 3px rgb(51, 51, 51) solid;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.TMM_controls{
    display: flex;
    flex-direction: row;
}

.taskTittle{
    border: 0ch;
    outline: none;
    font-size: 3vh;
    text-align: center;
    text-decoration: underline;
}