
.taskBox{
    display: flex;
    border: 2px black solid;
    border-radius: 8px;
    width: 30vw;
    text-align: center;
    margin: auto;
    margin-top: 1vh;
}

.deleteButton{

    width: 2.5vw;
    text-align: center;
    
}

.taskText{

    width: 27.5vw;
    word-wrap: break-word;

}