

.taskManager{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    width: 40vw;
    margin: auto;
    margin-top: 1vh;
}


.taskTittle{
    border: 0ch;
    outline: none;
    font-size: 3vh;
    text-align: center;
    text-decoration: underline;
}