.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.tittle{
  margin: auto;
  margin-top: 1vh;
  font-size: 4vh;
  width: fit-content;
  text-align: center;

}

.subtittle{
  margin-top: 0%;
  font-size: 2vh;
}


.mainBox{
  display: flex;
  flex-direction: row;
}

.subBox1{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px green solid;
  width: 27.5vw;
  margin: auto;
  margin-top: 0%;
}

.subBox2{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px green solid;
  width: 40vw;
  margin: auto;
  margin-top: 0%;
}

.subBox3{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px green solid;
  width: 27.5vw;
  margin: auto;
  margin-top: 0%;
}

.timeBox{
  height: 90vh;
  border: 2px solid rgb(44, 44, 44);
  border-radius: 16px;
}

.taskListBox{
  margin: auto;
  height: 80vh;
}



.notesManager{
  border: 2px black solid;
  border-radius: 16px;
}


