.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.subBox1{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px green solid;
  width: 24vw;
}

.subBox2{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px green solid;
  width: 49vw;
}

.subBox3{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px green solid;
  width: 24vw;
}

.timeBox{
  height: 90vh;
  border: 2px solid rgb(255, 0, 0);
}

.taskListBox{
  margin: auto;
  height: 80vh;
  border: 8px black solid;
}

.taskManagerManager{
  border: 4px black solid;
  height: 92vh;
}

